* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020a18;
}

.center {
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: 160px;
}

.header-link {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  padding: 40px 16px;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-link:hover {
  color: #3a68b8;
}

.main {
  margin-bottom: 200px;
}

.main-left {
  max-width: 53%;
}

.subtitle {
  color: var(--3-a-68-b-8, #3a68b8);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title {
  color: var(--ffffff, #fff);
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 71.5px */
  margin-bottom: 40px;
}

.dsc {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  opacity: 0.7;
  margin-bottom: 50px;
}

.main-button {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
  padding: 1rem 2rem;
  margin-right: 20px;
}

.fa-play {
  margin-right: 10px;
}

.logo {
  margin-bottom: 256px;
}

.about {
  margin-bottom: 264px;
}

.about__right {
  max-width: 44%;
}

.about__title {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 30px;
  margin-top: 110px;
}

.about__text {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 50px;
  opacity: 0.7;
}

.about__button {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
  padding: 1rem 2rem;
}

.content {
  margin-bottom: 257px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item {
  border-radius: 10px;
  background: #132035;
  padding: 30px;
  display: grid;
  justify-items: center;
  gap: 30px;
}

.item_big {
  grid-row: span 2;
  grid-column: span 2;
}

.item__heading {
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  opacity: 0.7;
}

.item__text {
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  opacity: 0.7;
}

.reviews {
  margin-bottom: 269px;
}

.reviews__left {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 47%;
}

.reviews__title {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 40px;
}

.reviews__text {
  color: var(--ffffff, #fff);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 51px;
}

.footer__list {
  color: var(--ffffff, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.footer__heading {
  color: var(--ffffff, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 33px;
}

.footer__text {
  color: var(--ffffff, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
  opacity: 0.6;
  max-width: 261px;
}

.footer__info {
  color: var(--ffffff, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}

.fa {
  color: #ffffff;
}

.fa-envelope {
  margin-right: 9px;
}

.fa-phone-volume {
  margin-right: 5px;
}

.fa-location-dot {
  margin-right: 4px;
}

.fa-brands {
  font-size: 18px;
}

@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
  }

  .flex {
    flex-wrap: wrap;
  }

  .main-left {
    max-width: 100%;
    margin-bottom: 128px;
  }

  .main-right {
    max-width: 100%;
    margin: auto;
  }

  .subtitle {
    font-size: 16px;
  }

  .title {
    font-size: 48px;
  }

  .logo {
    max-width: 792px;
    margin: auto;
    gap: 32px;
    margin-bottom: 277px;
  }

  .about__left,
  .about__right {
    max-width: 100%;
  }

  .about__title {
    margin-top: 68px;
  }

  .content {
    margin-bottom: 243px;
  }

  .grid {
    grid-template-columns: repeat(1, 362px);
    gap: 32px;
    justify-content: center;
  }

  .item_big {
    grid-row: span 1;
    grid-column: span 1;
  }

  .item__image {
    max-width: 98px;
  }

  .reviews__left,
  .reviews__right {
    width: 100%;
  }

  .reviews__left {
    margin-bottom: 64px;
  }

  .reviews {
    margin-bottom: 269px;
  }

  .footer {
    gap: 30px;
    margin-bottom: 48px;
  }
}

@media (max-width: 480px) {
  .center {
    padding-left: calc(50% - 163px);
    padding-right: calc(50% - 163px);
  }

  .header {
    margin-bottom: 86px;
  }
  .header-link {
    font-size: 14px;
  }

  .subtitle {
    font-size: 14px;
  }

  .title {
    font-size: 28px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100%;
  }

  .main {
    margin-bottom: 128px;
  }

  .logo {
    justify-content: center;
    margin-bottom: 204px;
  }

  .about {
    margin-bottom: 96px;
  }

  .about__title {
    font-size: 24px;
  }

  .content {
    margin-bottom: 96px;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews {
    margin-bottom: 209px;
  }

  .footer {
    justify-content: center;
  }

  .footer__heading {
    text-align: center;
  }
}
